<div class="main">
<div class="profile-container">
    <h2 class="profile-title">Complete Your Profile</h2>
  
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
      <input type="text" formControlName="full_name" placeholder="Full Name" class="form-control" />
  
      <input type="text" formControlName="phone" placeholder="Phone Number" class="form-control" />
  
      <select formControlName="gender" class="form-control">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
  
      <input type="date" formControlName="dob" class="form-control" />
  
      <textarea formControlName="address" placeholder="Address" class="form-control"></textarea>
  
      <div class="file-input">
        <input type="file" id="file"(change)="onFileChange($event)" hidden/>
        <label for="file" class="fileButton">Choose Profile Picture</label>
        <span class="filename">{{selectedFile?.name || 'no file choosen'}}</span>
    </div>
  
      <button type="submit" [disabled]="profileForm.invalid" class="submit-btn">
        Save Profile
      </button>
    </form>
  </div>
</div>
  