<app-spinner [show]="loading"></app-spinner>

<div class="dashboard-container">
  <div class="dashboard-wrapper">
    <div class="dashboard-header">
      <div class="titles">
        <h4>Online Barter System</h4>
        <h1 class="dashboard-title">Dashboard</h1>
      </div>

      <!-- <img *ngIf="profile.profile_photo_url" [src]="profile.profile_photo_url" alt="Profile" />
 -->
      
      <div class="user-info">
        <img [src]="profile?.profile_photo_url || 'default-profile.png'" alt="Profile" class="profile-pic">
        <div *ngIf="user" class="username">
          {{ user.username }}
        </div>
        <button (click)="onLogout()" class="logout">Log out</button>
      </div>
    </div>

    <!-- <app-add-item *ngIf="showAddItem" (cancel)="onCancel()"></app-add-item> 

    <div class="button-container">
      <button (click)="AddItem()">Add Item</button>
    </div> -->
    <!-- <div class="summary-grid">
      <div class="summary-card">
        <h3>Listings</h3>
        <p>24</p>
      </div>
      <div class="summary-card">
        <h3>Exchanges</h3>
        <p>12</p>
      </div>
      <div class="summary-card">
        <h3>Messages</h3>
        <p>5</p>
      </div>
      <div class="summary-card">
        <h3>Offers</h3>
        <p>7</p>
      </div>
    </div>

    <div class="main-grid">
      <div class="listings-section">
        <h2>Active Listings</h2>
        <div class="listings-grid">
          <div class="listing-card" *ngFor="let item of listings">
            <img [src]="item.image" alt="Product">
            <h3>{{ item.title }}</h3>
            <p>{{ item.status }}</p>
          </div>
        </div>
      </div>

      <div class="offers-section">
        <h2>Recent Offers</h2>
        <div class="offer-card" *ngFor="let offer of offers">
          <h4>{{ offer.user }}</h4>
          <p>Offered: {{ offer.item }}</p>
          <p>Status: {{ offer.status }}</p>
        </div>
      </div>
    </div> -->
  </div>
</div>